// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
     .container {
     }
     .navbar.navbar-expand-md {
          z-index: 99999;
          ul li a {
               font-weight: 600;
          }
     }

     #location.releaseDate {
          margin-top: 80px;
     }

     .jumbotron {
          z-index: 1;
          height: 650px;
          min-width: 480px;

          .display-4 {
               font-weight: 700 !important;
          }

          .container {
               text-align: left;
               background: transparent;

               &.hero {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    top: 33%;
                    left: 2%
               }

          }

          .container.hero #location.releaseDate,
          .container.hero #date.releaseDate {
               font-size: 1rem;
          }
        }

        .jumbotron .display-4 {
             font-size: 3.4rem;
             font-weight: 700;
        }

        .container.allcontent .searchbar .searchlabels ul li {
             font-size: .9rem;
        }

        .jumbotron .container.hero .row:nth-child(1) {
             padding: 0 !important;
             margin-top: 0px;
             width: 330px;
        }
        .jumbotron .container.hero .row:nth-child(2) {
             padding: 0 !important;
             margin-top: 0rem;
        }

        .jumbotron .display-4 {
             margin-bottom: 0;
        }

        .col-md-12 a .btn-wrap {
           margin-top: 15px;
           width: 180px;
           height: 43px;
           span {
                font-size: 14px;
           }
        }
        .test {
             color: red;
        }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

     .jumbotron .container.hero .row:nth-child(1) {
          padding: 0 !important;
          margin-top: 90px;
     }
     .jumbotron .container.hero .row:nth-child(2) {
          padding: 0 !important;
          margin-top: -5px;

          .releaseDate {
               font-size: 18px;
          }
     }


     .jumbotron {
          height: 700px;

          .col-md-12 {
               padding: 0 !important
          }

          .container.hero {
               padding-left: 10px;
               position: relative;
               display: block;
               margin: 0 auto;
               top: 20%;
               // margin-left: 130px;

               .row, .col-md-12 {
                    padding: 0 !important;
               }
          }

           .display-4 {
               font-weight: 800;
               font-size: 3.2rem !important;
          }

          #location.releaseDate {
               margin-top: 75px;
          }

          div.container.hero div.row{
               margin-left: 1%;
          }



          &.container.hero #location.releaseDate {
               font-size: 14px;
               margin-top: 22px;
          }

          &.container.hero #date.releaseDate {
               font-size: 17px;
          }

          &.allcontent .searchbar .searchlabels ul li {
               font-size: 14px;
          }
     }

     .jumbotron .display-4 {
          margin-bottom: 0;
     }

     .col-md-12 a .btn-wrap {
        margin-top: 15px;
        width: 180px;
        height: 43px;
        span {
             font-size: 14px;
        }
     }

     .jumbotron .label {
          margin-top: 0px;
     }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
     .jumbotron {
          height: 900px;
     }

     .jumbotron .container.hero {
          padding-left: 10px;
          position: relative;
          display: block;
          margin: 0 auto;
          top: 37%;
          // margin-left: 130px;
     }

     .jumbotron .container.hero .row:nth-child(1) {
          padding: 0 !important;
          margin-top: -100px;
     }
     .jumbotron .container.hero .row:nth-child(2) {
          padding: 0 !important;
          margin-top: 120px;
     }

     .col-md-12 a .btn-wrap {
          margin-top: 50px;
          width:200px;
          height:53px;
     }

     // .jumbotron .label {
     //      margin-top: px;
     // }

     #location.releaseDate {
          margin-top: 175px;
     }

     div.container.hero div.row{
          margin-left: 1%;
     }
 }


 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px){

     .jumbotron .container.hero {
          position: relative;

     }
 }





.jumbotron {
     background: $yellowGold;
     background-color: #000;
     background-image: url(https://raw.githubusercontent.com/AshleyCanty/imdb-layout/master/public/img/martian.jpg);
     background-attachment: fixed;
     background-repeat: repeat-x;
     background-position: 50% 0px;
     background-size: cover;
     margin-bottom: 0 !important;
     border-radius: 0 !important;
     position: relative;
     padding: 0 !important;

     .hero-2 {
           width: 100%;
           height: 400px;
           position: absolute;
           bottom: 0;
           margin: 0 auto;
           left: 50%;
           transform: translateX(-50%);
           display: block;
           background-color: transparent;
           background-image: -webkit-linear-gradient(90deg, #000, rgba(0, 0, 0, .67) 53%, transparent);
           background-image: linear-gradient(0deg, #000, rgba(0, 0, 0, .67) 53%, transparent);
     }

    .container {
         text-align: left;
         background: transparent;
         &.hero {

               padding-right: 0;
               width: auto;
               z-index: 1;

               .row {
                    background: transparent;
                    width: fit-content;
              }

              #location.releaseDate {
                   color: white !important;
                   font-weight: 300;
                   letter-spacing: 4px;
              }
              #date.releaseDate  {
                   color: $yellowMain;
                   font-weight: 300;
                   letter-spacing: 4px;
              }
         }
    }

    .circle {
         height: 7px;
         width: 7px;
         border-radius: 50%;
         background: rgba(255,255,255,.4);
         margin: 10px 0;
    }

    .circle-border {
         background: clear;
         border: 2px solid rgba(255,255,255,.4);
         height: 30px;
         width: 30px;
         border-radius: 50%;
         position: relative;
         margin: 12px 0;
         transition: all .3s ease-in-out;

         &:hover {
            border: 2px solid rgba(255,255,255,.8);
            height: 32px;
            width: 32px;

              .ion-chevron-up, .ion-chevron-down {
                   color: rgba(255,255,255,.8);
                   font-size: 19px;
              }
        }
         .ion-chevron-up, .ion-chevron-down {
              font-size: 19px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               color: rgba(255,255,255,.4);
               transition: all .4s ease-in-out;

         }

         .ion-chevron-down {
              top: 57%;
         }

    }

    .display-4 {
         color: white;
         letter-spacing: 9px;
         text-transform: uppercase;
    }

    .label {
         display: inline-block;
         margin-right: 25px;
         text-transform: uppercase;
         font-size: .8rem;
         color: white;
         font-weight: 400 !important;
    }
}



.col-md-2 {
     position: relative;

     .arrows {
          padding-top: 60px;
          position: absolute;
          right: 50px;
     }
     .dots {
          padding-top: 60px;
          position: absolute;
          left: 50px;
     }
}

.col-md-8 {

     a {

          .btn-wrap{
               background: $yellowMain;
               border-radius:30px;

               &:hover {
                    cursor: pointer;
               }

               button {
                    display:table;
                    background: $yellowMain;
                    border-radius:30px;
                    text-decoration:none;
                    color:black;
                    font-weight:500;
                    height:100%;
                    width:100%;
                    border:none;
                    font-size:16px;
                    line-height:4px;
                    padding-left: 30px;
                    &:focus {
                         outline: none;
                    }

                    span {
                         display: inline-block;
                         margin-left: -25px;
                         vertical-align:middle;


                    }

               }

          }
     }
}

#circlewrap {
     display: inline-block;
     height: 26px;
     width: 26px;
     border-radius: 50%;
     position: relative;
     border: 1px solid black;
     color: black;
     vertical-align: middle;
     margin-left: 20px;
.ion-ios-play {
     position: absolute;
     left: -25%;
     top: 10%;
     transform: translateX(-50%);
     display: inline-block;
     font-size: 19px;
     color: black;
     vertical-align:middle;
     margin-left: 20px;

     }
}
